<section id="signup"> 
  <div class="panel centered">
    <div class="panel-body">
      <article>
        <h2>Resend confirmation instructions</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <p><%= flash[:notice] %></p>
          <p><%= flash[:alert] %></p>
          <fieldset>
            <div class="input-container">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </fieldset>
          <%= f.submit "Resend confirmation email", :class => "btn success wide" %>
        <% end %>
      </article>
    </div>
  </div>
</section>