<section id="signup"> 
  <div class="panel centered">
    <div class="panel-body">
      <article>
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <p><%= devise_error_messages! %></p>
          <fieldset>
            <div class="input-container">
              <%= f.text_field :username %>
              <%= f.label :username %>
            </div>
            <div class="input-container">
              <%= f.email_field :email %>
              <%= f.label :email %>
            </div>
            <div class="input-container">
              <!-- Need to make design for this!
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>-->
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password%>
            </div>
            <div class="input-container">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <%= f.label :password_confirmation %>
            </div>
          </fieldset>
          <%= f.submit "Sign up", :class => "btn success wide" %>
        <% end %>
      </article>
      <article>
        <h2>Already a member?</h2>
        <%= render "devise/shared/links" %>
      </article>
    </div>
  </div>
</section>