<section id="signup" class="container"> 
  <div class="panel panel-center">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p><%= devise_error_messages! %></p>
      <p><%= flash[:notice] %></p>

      <div class="field">
        <%= label_tag :betakey %><br />
        <%= text_field_tag :betakey %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email%>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => "btn btn-success" %>
      </div>
    <% end %>

    <h2>Already a member?</h2>
    <%= render "devise/shared/links" %>
  </div>
</section>