<section id="signup"> 
    <div class="panel centered">
        <div class="panel-body">
            <article>
                <h2>Edit game details</h2>
                <%= form_for @game, url: {action: 'update'} do |f| %>
                    <fieldset>
                        <div class="input-container">
                            <%= f.text_field :name %>
                            <%= f.label :name %>
                        </div>

                        <div class="input-container">
                            <%= f.file_field :thumbnail %>
                            <%= f.label :thumbnail %>
                        </div>

                        <div class="checkbox-container clearfix">
                            <%= f.check_box :published %>
                            <%= f.label :published %>
                        </div>
                        <div class="checkbox-container clearfix">
                            <%= f.check_box :delete_image %>
                            <%= f.label :delete_image %>
                        </div>  
                    </fieldset>
                    <%= f.submit "Update", :class => "btn success wide" %>
                <% end %>
            </article>
        </div>
    </div>
</section>