<section id="signup"> 
	<div class="panel centered">
		<div class="panel-body">
			<article>
				<h2>Edit game details</h2>
				<%= form_for @game, url: {action: 'update'} do |f| %>
					<fieldset>
						<div>
							<%= f.label :name %>
							<%= f.text_field :name %>
						</div>
						<div>
							<%= f.label :thumbnail %>
							<%= f.text_field :thumbnail %>
						</div>
						<div>
							<%= f.label :published %>
							<%= f.check_box :published %>
						</div>
					</fieldset>
					<%= f.submit "Update", :class => "btn success wide" %>
				<% end %>
			</article>
		</div>
	</div>
</section>

