<%- model_class = Game -%>
<div class="welcome">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<h4>Play a game someone else created or create one of your own!</h4>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.author %></td>
        <td><%= link_to game.title, game_path(game) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_game_path(game), :class => 'cancelButton' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><%= link_to "These games suck! I can make a better one.",
            new_game_path,
            :class => 'regularButton' %></center>
          </div>
