<section id="signup"> 
  <div class="panel centered">
    <div class="panel-body">
      <article>
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p><%= flash[:notice] %></p>
          <p><%= flash[:alert] %></p>
          <fieldset>
            <div class="input-container">
              <%= f.email_field :email, autofocus: true, :class => "wide" %>
              <%= f.label :email %>
            </div>
            <div class="input-container">
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password %>
            </div>
            <% if devise_mapping.rememberable? -%>
            <div class="checkbox-container clearfix">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end -%>
          </fieldset>
          <!-- Can we change this to a link insted of a button? -->
          <%= f.submit "Log in", :class => "btn success wide" %>
        <% end %>
      </article>
      
      <article>
        <center><%= link_to (image_tag 'facebook_login.png', {:width => 200}), user_omniauth_authorize_path(:facebook) %></center>
      </article>
      <article>
        <h2>New to ArcadeForge?</h2>
        <%= render "devise/shared/links" %>
      </article>
    </div>
  </div>
</section>