<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Arcadeforge</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="border-bottom">
            <div class="container">
                <%= link_to image_tag("logo_arcadeforge_navbar.png"), root_path, :class => "navbar-logo" %>
                <ul id="nav-main">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Create", new_game_path %></li>
                    <li><%= link_to "Play", games_path %></li>
                </ul>

                <ul id="nav-user">
                    <% account_nav.each do |nav_item| %>
                        <li><%= nav_item %></li>
                    <% end %>
                </ul>
            </div>
        </nav>

        <section class="container"> 
            <%= yield %>
        </section>

        <footer class="border-top">
            <div id="footer-container" class="container">
                <ul>
                    <li><a href="index.html">About</a></li>
                    <li><a href="index.html">Terms</a></li>
                    <li><a href="index.html">Privacy</a></li>
                </ul>

                <ul>
                    <li><a href="index.html">Login</a></li>
                    <li><a href="index.html">Sign up</a></li>
                    <li><a href="index.html">Forgot password</a></li>
                </ul>

                <ul>
                    <li><a href="index.html">Features</a></li>
                    <li><a href="index.html">Tutorials</a></li>
                    <li><a href="index.html">Blog</a></li>
                </ul>

                <ul id="footer-social">
                    <li><a href="index.html"><%= image_tag "icon_social_facebook.png" %></a></li>
                    <li><a href="index.html"><%= image_tag "icon_social_twitter.png" %></a></li>
                    <li><a href="index.html"><%= image_tag "icon_social_youtube.png" %></a></li>
                    <li><a href="index.html"><%= image_tag "icon_social_vimeo.png" %></a></li>
                </ul>
                <br />
                <span id="footer-copyright">Copyright © 2014 ArcadeForge</span>
            </div>
        </footer>
    </body>
</html>
