<!--<!DOCTYPE html>-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Arcadeforge</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= include_gon %>
    <%= stylesheet_link_tag 'editor', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'editor', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header class="border-bottom">
        <hgroup class="logo">
          <%= link_to image_tag("generic/header_logo.png"), root_path, :class => "" %>
        </hgroup>
        
        <!-- START: Needs to be re-written -->
        <a id="save-game-button" class="toolbar-icon toolbar-icon-save"></a>
        <div id="edit-mode" class="btn-group">
          <div id="edit-mode-buttons">
            <input type="radio" id="edit-game-button" name="edit-mode" data-name="EDIT GAME" checked="checked" />
            <label class="i-edit-game-button" for="edit-game-button"></label>
            <input type="radio" id="direct-game-button" data-name="DIRECT GAME"name="edit-mode" />
            <label class="i-direct-game-button" for="direct-game-button"></label>
            <input type="radio" id="run-game-button" data-name="RUN GAME" name="edit-mode" />
            <label class="i-run-game-button" for="run-game-button"></label>
          </div>
          <span id="edit-mode-label"></span>
        </div>
        <div id="published-container" class="btn-group">
          <div id="published-buttons">
            <input type="radio" id="private-button" name="publish-group" data-name="PRIVATE">
            <label class="i-private-button" for="private-button"></label>
            <input type="radio" id="publish-button" name="publish-group" data-name="PUBLISHED">
            <label class="i-publish-button" for="publish-button"></label>
          </div>
          <span id="published-label">PRIVATE</span>
        </div>
        <div class="btn-group">
          <span id="save-message"></span>
        </div>
        <!-- END: Needs to be re-written -->

        <hgroup class="user">
          <% account_nav.each do |nav_item| %>
            <%= nav_item %>
          <% end %>
        </hgroup>
      </header>

      <!-- Main content -->
      <%= yield %>

    </div>
    
    <!-- Dialogue -->
    <div id="dialogue-overlay"></div>
    <div id="dialogue-window"></div>
    <div id="image-select-popup"></div>
    <div id="image-select-overlay"></div>
  </body>
</html>