<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Arcadeforge</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <%= include_gon %>
        <%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>


        <!-- Container -->
        <div class="container-fluid">

            <!-- Toolbar top -->
            <div id="toolbar-top" class="border-bottom">
                <%= link_to image_tag("logo_arcadeforge_navbar.png"), root_path, :class => "navbar-logo" %>
                <button id="save-button" class="toolbar-icon toolbar-icon-save" type="button" ></button>
                <div id="edit-mode" class="btn-group">
                    <div id="edit-mode-buttons">
                        <input type="radio" id="edit-game-button" name="edit-mode" data-name="EDIT GAME" checked="checked" />
                        <label for="edit-game-button"></label>
                        <input type="radio" id="direct-game-button" data-name="DIRECT GAME"name="edit-mode" />
                        <label for="direct-game-button"></label>
                        <input type="radio" id="run-game-button" data-name="RUN GAME" name="edit-mode" />
                        <label for="run-game-button"></label>
                        <button type="button" id="save-game-button" class="btn btn-success btn-lg">Save Game</button>
                    </div>
                    <span id="edit-mode-label"></span>

                    <ul id="nav-user">
                        <% account_nav.each do |nav_item| %>
                            <li><%= nav_item %></li>
                        <% end %>
                    </ul>
                </div>
            </div>

            <%= yield %>
        </div>

    </body>
</html>